<section class='purpose'>
  <div class="why">
    <div class="puzzle-animation">
      <img src="assets/images/puzzle-piece-horizontal.png" alt="puzzle piece">
      <img src="assets/images/puzzle-piece-vertical.png" alt="puzzle piece">
    </div>
    <h3>I Love Puzzles!</h3>
    <p>Why am I learning to code?</p>
    <p>Puzzles make life interesting, right?  What I love about working with
       computers is that solving the problem is like a big puzzle.  Coding
       is a way for me to get lost in puzzles.</p>
  </div>

  <div class="current-work">
    <i class="fas fa-book-open fa-3x"></i>
    <h3>My current puzzles...</h3>

  </div>

  <div class="favorite-work">
    <i class="fas fa-book-open fa-3x"></i>
    <h3>Some of my favorite past puzzles...</h3>

    <!-- Create project cards for my favorite projects -->
    {% for item in site.data.favoriteprojects %}
      <div class="project-card">
        <h4>{{item.name}}</h4>
        <div class="img-summary-wrapper">

          <!-- Image of the project -->
          <div class="project-img">
            <img src="{{ item.image-link }}" alt="A favorite project">
          </div>
          <!-- Summary shows up when hovered over image -->
          <div class="hover-summary">
            <p>{{ item.summary }}</p>
          </div>
        </div>
        <!-- Links to the project's GitHub and active site -->
        <p>See it on <a href="{{ item.github-link }}"><i class="fab fa-github"></i></a>
        <p>See it <a href="{{ item.active-link }}">LIVE</a>!</p>
      </div>
    {% endfor %}

    <p>Browse through <a href="portfolio.html">my portfolio</a> to see the rest!</p>
  </div>

  <div class="skills">
    <i class="fas fa-toolbox fa-3x"></i>
    <h3>My Skills</h3>
    <p>
      Here's how I can help you clearly spread your ideas:
    </p>
    <ul>
      <li>Backwards plan a solution</li>
      <li>Create responsive websites that look good on any device</li>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
      <li>Add interactive components to your website</li>
        <ul>
          <li>JavaScript</li>
          <li>CSS</li>
        </ul>
    </ul>

  </div>
</section>
