<section class='purpose'>
  <div class="define-problem">
    <i class="fab fa-discourse fa-3x"></i>
    <h3>The Problem</h3>
    <p>Almost all human conflict is caused by not understanding one another.
       My goal is to help communicate compassionate ideas.</p>
  </div>

  <div class="story">
    <i class="fas fa-book-open fa-3x"></i>
    <h3>My Story</h3>
    <p>
      For the past 8 years, I've been a teacher.  I have seen the problems of
      miscommunication.  Some have been between my students and me.  Others have
      been between the administration and teachers.  Sometimes the
      miscommunication is between myself and I!
    </p>
    <p>
      What I've found comforting is writing down the thinking process.
      When I can see the trail of thoughts, I'm comforted.  I
      want to build an app that helps people visualize their trail of thoughts.
      This has led me to take the route of a web developer.
    </p>
  </div>

  <div class="skills">
    <i class="fas fa-toolbox fa-3x"></i>
    <h3>My Skills</h3>
    <p>
      Here's how I can help you clearly spread your ideas:
    </p>
    <ul>
      <li>Create responsive websites that look good on any device</li>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
      <li>Add interactive components to your website</li>
        <ul>
          <li>JavaScript</li>
          <li>CSS</li>
        </ul>
    </ul>
    <p>Browse through <a href="portfolio.html">my portfolio</a> to see if my examples support your vision.</p>
  </div>
</section>
