<section class='purpose'>
  <div class="why">
    <div class="puzzle-animation">
      <img id="horizontal" src="assets/images/puzzle-piece-horizontal.png" alt="puzzle piece">
      <img id="vertical" src="assets/images/puzzle-piece-vertical.png" alt="puzzle piece">
    </div>
    <h3>I Love Puzzles!</h3>
    <p>Why am I learning to code?</p>
    <p>Puzzles make life interesting, right?  What I love about working with
       computers is that solving the problem is like a big puzzle.  Coding
       is a way for me to get lost in puzzles.</p>
    <p>This is my journey through the wonderful world of coding puzzles.
       I will be documenting my path while working on my creations.</p>
  </div>

  <div class="current-work">
    <i class="fas fa-book-open fa-3x"></i>
    <h3>My current puzzle...</h3>
    <p>My current profession is a teacher.  When I contemplate the future, one
    skill seems to be of the utmost importance: research.  My goal is to help
    people learn and do high-quality research.</p>
    <p>I want to create an app that helps people document their research.
    The app will record what you search, what websites you visited, and guide
    you through thinking about the topic by asking guiding questions.  The output
    will be a Google Doc with all this information typed out for you.</p>
  </div>

  <div class="favorite-work">
    <i class="fas fa-book-open fa-3x"></i>
    <h3>Some of my favorite past puzzles...</h3>

    <!-- Create project cards for my favorite projects -->
    <div class="project-wrapper">

    {% for item in site.data.favoriteprojects %}
      <div class="project-card">
        <h4>{{item.name}}</h4>
        <div class="img-summary-wrapper">

          <!-- Image of the project -->
          <div class="project-img">
            <img src="{{ item.image-link }}" alt="A favorite project">
          </div>
          <!-- Summary shows up when hovered over image -->
          <div class="hover-summary">
            <p>{{ item.summary }}</p>
          </div>
        </div>
        <!-- Links to the project's GitHub and active site -->
        <div>See it on <a href="{{ item.github-link }}" target="_blank"><i class="fab fa-github fa-3x"></i></a>
          </div>
        <p>See it <a href="{{ item.active-link }}" target="_blank">LIVE</a>!</p>
      </div>
    {% endfor %}
    </div>
      <p>Browse through <a href="portfolio.html">my portfolio</a> to see the rest!</p>

  </div>

  <div class="skills">
    <i class="fas fa-toolbox fa-3x"></i>
    <h3>My Skills</h3>
    <p>
      Here's how I can help you clearly spread your ideas:
    </p>
    <ul> <h4>Skills:</h4>
      <li>Backwards plan a solution</li>
      <li>Create responsive websites that look good on any device</li>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
      <li>Add interactive components to your website</li>
        <ul>
          <li>JavaScript</li>
          <li>CSS</li>
        </ul>
    </ul>

  </div>
</section>
