section {
  min-height: 80vh;
}

p, h1 {
  padding-top: 1em;
}

.excerpt {
  padding-top: .2em;
}

}
section.blog-area {
  display: grid;
  grid-template-columns: .5fr 4fr .75fr;
  grid-template-areas: 'left-gutter post-area right-gutter'
}

.left-gutter {
  grid-area: left-gutter;
}

.post-area {
  grid-area: post-area;
}

.right-gutter {
  grid-area: right-gutter;
}

blockquote {
  padding-left: 1.5em;
}
